body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #11b6ed , #efefef); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.color1 {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 5px;

}

.color2 {
    background-color: rgba(0,0,0,.5);
    border: none;
    border-radius: 5px;
}

.color1:hover {
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 5px;
}

.color2:hover {
    background-color: rgba(0,0,0,.7);
    border: none;
    border-radius: 5px;
}

.randomKnop {
    background-color: rgba(0,0,0,.5);
    color: rgba(255,255,255,.8);
    text-align: center;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.randomKnop:hover {
    background-color: rgba(0,0,0,.7);
    color: white;
    text-align: center;
    height: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

